html,
body {
  margin: 0 ;
  padding: 0;
  width: 100vw;
  background: #b2f9fc;
}

:root {
  --primary-color: #9D9D9D;
}

.search-form {
  font-family: Arial, sans-serif;
  text-align: center;
}

.search {
  width: 35%;
  height: 5rem;
  margin-top: 4rem;
  outline: none;
  font-size: 2rem;
  background: #b2f9fc;
  border: none;
  border-bottom: 1px solid var(--primary-color);
  padding-left: 2rem;
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: var(--primary-color);
}

.suggestions {
  margin: 0 auto;
  margin-top: 0.5rem;
  width: 30%;
}

.suggestions > li {
  margin-left: -3rem;
  list-style: none;
  color: var(--primary-color);
  height: 2.8rem;
  line-height: 3rem;
  padding-left: 2rem;
  border: 1px solid var(--primary-color);
  box-shadow: 0 0 1px var(--primary-color);
  font-size: 1.2rem;
  margin-top: -1px;
  transform: skewX(-10deg);
}

.hl {
  background: gold;
}
